body {
  font-family: 'Avenir Next', Avenir, sans-serif;
  font-size: 16px;
  color: #586374;
}

a {
  color: #586374;
}

a:hover,
a:focus {
  color: #586374;
  text-decoration: none;
}


/* Utilities
----------------------------*/
.blue-text {
  color: #00D1E8;
}