@import url('https://fonts.googleapis.com/css?family=Nunito:400,500,600');

body {
  font-family: 'Avenir Next', Avenir, 'Nunito', sans-serif;
  font-size: 16px;
  color: #586374;
}

a {
  color: #586374;
}

a:hover,
a:focus {
  color: #586374;
  text-decoration: none;
}

.container-fluid {
  max-width: 1440px;
}

.row {
  margin-left: -.5rem;
  margin-right: -.5rem;
}

[class*='col-'] {
  padding-left: .5rem;
  padding-right: .5rem;
}

.row--flex {
  display: flex;
  flex-wrap: wrap;
}

.row--flex [class*='col-'] {
  display: flex;
  flex-direction: column;
}